@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.player-stats{

@apply bg-white font-bold border-solid border-2 border-primary text-center p-2

}


.main-page{

@apply bg-primary text-white rounded-t-lg h-10 p-2 m-2

}


.short{
    grid-row: span 1;
    
    }

.tall{
    grid-row: span 2;
    
    }


 body{

  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #f7f7f7;
 
  }

  svg{
  display: inline;
  
  
  }
 
  nav{

    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
    justify-items: center;
   
     }

       
     nav a{
    
        text-decoration: none;
        color: #fff;
        
        }
    
        nav a:hover{
    
         border-bottom: 1px solid #fff;
    
        }
    
    
       
        nav div img{
        
        max-width: 100%
    
        
        }
 
        @media screen and (max-width: 620px) {
    
          nav {
        
                grid-template-columns: repeat(5, 1fr);
        
        
            }
            nav h1 {
        
            grid-column: 1 / span 5;
            grid-row: 1;
        
            }
    
            
        
        }
    
 